In [39]:
#1
import numpy as np
import pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data=exam_data, index=labels, columns=["name","score","attempts","qualify"])



print('DataFrame initiale est: ')
print("")
print(df)

print(" ")
print("Les trois premières lignes de la DataFrame initiale: ")
print("")
print(df.head(3))

print(" ")
df=df.dropna()
print("DataFrame sans Nan: ")
print("")
print(df)

print(" ")
print("Les colonnes 'name'et 'score': ")
print("")
df_2=df[['name','score']]
print(df_2)

print(" ")
print("DataFrame avec la ligne de Suresh: ")
print("")
df.loc["k"]=["Suresh",15.5,1,"yes"]
print("")
print(df)

print(" ")
print("DataFrame sans la colonne attempts")
print("")
df=df.drop("attempts", axis=1)
print(df)


liste_1=[]
for i in df["score"]:
    if i<10:
        x=0
        liste_1.append(x)
    else:
        x=1
        liste_1.append(x)
print(liste_1)

print("")
print("Dataframe avec colonne success")
print("")
df=df.assign(success=liste_1)
print(df)

print(" ")
print("Dataframe sous forme de csv: ")
print(" ")
df=df.to_csv('mydata')
print(df)

DataFrame initiale est:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Les trois premières lignes de la DataFrame initiale:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

DataFrame sans Nan:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

Les colonnes 'name'et 'score':

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
i      Kevin    8.0
j      Jonas   19.0

DataFrame avec la ligne de Suresh:


        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

DataFrame sans la colonne attempts

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes
[1, 0, 1, 0, 1, 1, 0, 1, 1]

Dataframe avec colonne success

        name  score qualify  success
a  Anastasia   12.5     yes        1
b       Dima    9.0      no        0
c  Katherine   16.5     yes        1
e      Emily    9.0      no        0
f    Michael   20.0     yes        1
g    Matthew   14.5     yes        1
i      Kevin    8.0      no        0
j      Jonas   19.0     yes        1
k     Suresh   15.5     yes        1

Dataframe sous forme de csv:

None